<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/detailstyle.css">
    <link  rel="stylesheet" href="/styles/navstyle.css">
    <link  rel="stylesheet" href="/styles/generalstyle.css">
    <link  rel="stylesheet" href="/styles/recordstyle.css">
    <link  rel="stylesheet" href="/styles/tagstyle.css">

</head>
<body>

