<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/records">Records</a></li>
        <li><a href="/records/add">+/- Records</a></li>
        <li><a href="/tags">+/- Tags</a></li>
    </ul>
</nav>