<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

    <div class="wrapper">
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
        <main>
            <form> 
                <%- include('./partials/recordTemplate.ejs') %>
                <br><br>     
            </form>              
        </main>
    </div>

<script src="/js/details.js"></script>
</body>
</html>